<div class="card bg-secondary shadow">
  <div class="card-header bg-white border-0">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0">My Account</h3>
      </div>
    </div>
  </div>

  <div class="card-body">
    <%= render 'layouts/errors' %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="row">
        <div class="form-group col-sm-6">
          <%= f.label :name, class: ['form-control-label'] %>
          <%= f.text_field :name, class: ['form-control', 'form-control-alternative'],
            placeholder: 'Name', required: true, autofocus: true, autocomplete: 'name' %>
        </div>

        <div class="form-group col-sm-6">
          <%= f.label :email, class: ['form-control-label'] %>
          <%= f.email_field :email, class: ['form-control', 'form-control-alternative'],
            placeholder: 'E-mail', required: true, autofocus: true, autocomplete: 'email' %>
        </div>

        <div class="w-100"></div>

        <div class="form-group col-sm-6 col-lg-4">
          <%= f.label :password, class: ['form-control-label'] %>
          <%= f.password_field :password, class: ['form-control', 'form-control-alternative'],
            placeholder: 'Password', autofocus: true, autocomplete: 'new-password' %>
        </div>

        <div class="form-group col-sm-6 col-lg-4">
          <%= f.label :password_confirmation, class: ['form-control-label'] %>
          <%= f.password_field :password_confirmation, class: ['form-control', 'form-control-alternative'],
            placeholder: 'Password confirmation', autofocus: true, autocomplete: 'new-password' %>
        </div>

        <div class="form-group col-sm-6 col-lg-4">
          <%= f.label :current_password, class: ['form-control-label'] %>
          <%= f.password_field :current_password, class: ['form-control', 'form-control-alternative'],
            placeholder: 'Current password', required: true, autofocus: true, autocomplete: 'current-password' %>
        </div>
      </div>

      <div class="text-center mt-4">
        <%= f.submit 'Save', class: ['btn', 'btn-primary'] %>
      </div>
    <% end %>
  </div>
</div>
