<%= form_for(@video) do |f| %>
  <div class="row">
    <div class="form-group col-sm-6">
      <%= f.label :title, class: ['form-control-label'] %>
      <%= f.text_field :title, class: ['form-control', 'form-control-alternative'],
        required: true, autofocus: true %>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :url, class: ['form-control-label'] %>
      <%= f.url_field :url, class: ['form-control', 'form-control-alternative'],
        required: true, autocomplete: 'url' %>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :poster, class: ['form-control-label'] %>
      <%= f.url_field :poster, class: ['form-control', 'form-control-alternative'],
        required: true, autocomplete: 'url' %>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :description, class: ['form-control-label'] %>
      <%= f.text_field :description, class: ['form-control', 'form-control-alternative'],
        required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a class="btn btn-secondary" href="<%= videos_path %>">
        <i class="fas fa-arrow-left"></i> Voltar
      </a>
    </div>

    <div class="col text-right">
      <button type="submit" class="btn btn-primary text-right">
        <i class="fas fa-save"></i> Save
      </button>
    </div>
  </div>
<% end %>
