<div class="card shadow">
  <div class="card-header bg-secondary border-0 d-flex justify-content-between align-items-center">
    <h3 class="mb-0">Videos</h3>
    <a href="<%= new_video_path %>" class="btn btn-success btn-xs">
      <i class="fas fa-plus"></i> New
    </a>
  </div>
  <div class="card-body">
    <div class="videos">
      <% @videos.each do |video| %>
        <div class="col-sm-4 col-md-3" id="video_<%= video.id %>">
          <div class="card">
            <a href="<%= video_path(video) %>" data-turbolinks="false">
              <img class="card-img-top" src="<%= video.poster %>" alt="<%= video.title %>">
            </a>
            <div class="card-body">
              <h3 class="card-title">
                <a href="<%= video_path(video) %>" data-turbolinks="false"><%= video.title %></a>
              </h3>
              <p class="card-text"><%= video.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
