<div class="card bg-secondary shadow">
  <div class="card-header border-0">
    <h3 class="mb-0">New Video</h3>
  </div>
  <div class="card-body">
    <%= render 'layouts/errors' %>

    <%= render 'form' %>
  </div>
</div>
