<div class="card bg-secondary shadow">
  <div class="card-header border-0">
    <h3 class="mb-0">Video - <%= @video.title %></h3>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <div class="embed-responsive embed-responsive-16by9">
              <video
                class="video-js embed-responsive-item"
                poster="<%= @video.poster %>"
                data-url="<%= api_activity_path(@activity) %>"
                data-setup="{}"
                controls
                autoplay
                preload
              >
                <source src="<%= @video.url %>" type="application/x-mpegurl">
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a web browser that
                  <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
              </video>
            </div>
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <p class="card-text"><%= @video.description %>.</p>
                </div>

                <% if can?(:update) %>
                  <div class="col-auto pr-0">
                    <div class="dropdown video-dropdown show">
                      <a
                        class="btn btn-link dropdown-toggle"
                        href="#" role="button"
                        id="video-actions"
                        title="Video Actions"
                        data-toggle="dropdown"
                      >
                        <i class="fas fa-ellipsis-v"></i>
                      </a>

                      <div class="dropdown-menu" aria-labelledby="video-actions">
                        <a class="dropdown-item" href="<%= edit_video_path(@video) %>">Edit</a>
                        <a class="dropdown-item" href="<%= video_path(@video) %>" data-method="delete">Delete</a>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="row mt-2">
                <div class="col">
                  <%= form_with(
                    model: @activity,
                    url: api_activity_path(@activity),
                    remote: true,
                    authenticity_token: true
                  ) do |f| %>
                    <div class="rating">
                      <% { 5 => 'Excellent', 4 => 'Good', 3 => 'Average', 2 => 'Fair', 1 => 'Poor' }.each do |value, label| %>
                        <%= f.radio_button :rating, value, checked: @activity.rating == value %>
                        <%= f.label "rating_#{value}", 'Excellent' %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <a href="<%= videos_path %>" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </div>
</div>
