<div class="card bg-secondary shadow border-0">
  <div class="card-header bg-transparent">
    <div class="row">
      <div class="col text-center">
        <a class="logo">
          <img src="https://placeholder.pics/svg/200x100" alt="Logo">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <h2 class="text-muted text-center my-0">Sign In</h2>
      </div>
    </div>
  </div>

  <div class="card-body px-lg-5 py-lg-5">
    <%= render 'layouts/flash' %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group mb-3">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          <%= f.email_field :email, class: ['form-control'], placeholder: 'E-mail', required: true,
            autofocus: true, autocomplete: 'email' %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-key"></i>
            </span>
          </div>
          <%= f.password_field :password, class: ['form-control'], placeholder: 'Password',
            required: true, autocomplete: "current-password" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="custom-control custom-control-alternative custom-checkbox">
          <%= f.check_box :remember_me, class: 'custom-control-input' %>
          <%= f.label :remember_me, class: 'custom-control-label' %>
        </div>
      <% end -%>

      <div class="text-center mt-4">
        <%= f.submit 'Log in', class: ['btn', 'btn-primary'] %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'devise/shared/links' %>
