.rating {
  float: left;
  position: relative;
}

.rating:not(:checked) > input {
  position: absolute;
  top: 0;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  width: 1.15em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1em;
  color: #d9d9d9;
}

.rating:not(:checked) > label:before {
  font-family: "Font Awesome 5 Free";
  content: "\f005";
}

.rating > input:checked ~ label {
  color: #ffe623;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ffe623;
  transition: color ease-in-out .1s;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ffe623;
}

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}
