<div class="auth-links row justify-content-center mt-3">
  <%- if controller_name != 'sessions' %>
    <%= link_to 'Log in', new_session_path(resource_name) %>
  <% end -%>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to 'Sign up', new_registration_path(resource_name) %>
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to 'Forgot your password?', new_password_path(resource_name) %>
  <% end -%>
</div>
