// Application
$header-height: 93px;

// Font Awesome
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

// Argon Theme
$default: #eee;
$primary: #1a237e;
$secondary: #f7fafc;

$navbar-padding-y: 1rem;
$navbar-nav-link-padding-y: 1rem;
$footer-padding-y: 1rem;

$main-content-min-height: calc(100vh - #{$footer-padding-y * 2} - #{$navbar-nav-link-padding-y * 2} - #{$header-height});

// Bootstrap
$custom-file-text: (
  en: "Browse",
  pt_BR: "Buscar"
);
