.auth {
  background-color: $default;

  .card-header {
    .logo {
      img {
        max-width: 75%;
        max-height: 12em;
        margin-bottom: 15px;
      }
    }
  }

  .main-content {
    min-height: calc(100vh - 40px);
  }

  .auth-links a {
    &:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid $primary;
    }

    &:not(first-child) {
      padding-left: 10px;
    }
  }
}
