<footer class="py-2 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="text-center text-light">
          &copy; <%= Date.current.year %> <%= app_name %>
        </div>
      </div>
    </div>
  </div>
</footer>
