<div class="card shadow">
  <div class="card-header border-0 d-flex justify-content-between align-items-center">
    <h3 class="mb-0">Home</h3>
  </div>
  <div class="card-body">
    <div class="videos row">
      <% @videos.each do |video| %>
        <div class="card col-sm-4 col-md-3 mb-2">
          <a href="<%= video_path(video) %>" data-turbolinks="false">
            <img class="card-img-top" src="<%= video.poster %>" alt="<%= video.title %>">
          </a>
          <div class="card-body">
            <h3 class="card-title">
              <a href="<%= video_path(video) %>" data-turbolinks="false"><%= video.title %></a>
            </h3>
            <p class="card-text"><%= video.description %></p>
            <p class="card-text">
              <i class="fas fa-user-edit"></i>
              <%= video.user.name %>
            </p>
            <p class="card-text">
              <i class="fas fa-eye"></i>
              <%= video.views %> Views
            </p>
            <p class="card-text">
              <i class="fas fa-star"></i>
              Rating <%= video.rating %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
