<footer class="footer">
  <div class="row">
    <div class="col">
      <div class="copyright text-center text-muted">
        &copy; <%= Date.current.year %> <%= app_name %>
      </div>
    </div>
  </div>
</footer>
