<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="<%= home_path %>">
      <i class="fas fa-home"></i> Home
    </a>
  </li>
</ul>

<hr class="my-3">

<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="<%= videos_path %>">
      <i class="fas fa-video"></i> Videos
    </a>
  </li>
</ul>
