<nav class="navbar navbar-top navbar-expand-md navbar-dark">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-right">
        <ul class="navbar-nav align-items-center d-none d-md-block">
          <%= render 'layouts/application/user_navigation' %>
        </ul>
      </div>
    </div>
  </div>
</nav>
