<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand pt-0" href="/">
      <img src="https://placeholder.pics/svg/487x144" class="navbar-brand-img" alt="<%= app_name %>">
    </a>

    <ul class="nav align-items-center d-block d-md-none">
      <%= render 'layouts/application/user_navigation' %>
    </ul>

    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
      <%= render 'layouts/application/navigation' %>
    </div>
  </div>
</nav>
