<li class="nav-item dropdown">
  <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="media align-items-center">
      <span class="avatar avatar-sm rounded-circle">
        <img src="https://www.gravatar.com/avatar/<%= email_hash(current_user.email) %>" alt="avatar">
      </span>
      <div class="media-body ml-2 d-none d-md-block">
        <span class="mb-0 text-sm font-weight-bold"><%= current_user.name %></span>
      </div>
    </div>
  </a>

  <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
    <div class=" dropdown-header noti-title">
      <h6 class="text-overflow m-0">
        Authenticated as <strong><%= current_user.name %></strong>
      </h6>
    </div>

    <%= link_to(edit_user_registration_path, class: 'dropdown-item') do %>
      <i class="fas fa-user"></i>
      <span>My Account</span>
    <% end %>

    <div class="dropdown-divider"></div>

    <%= link_to(destroy_user_session_path, class: 'dropdown-item', method: :delete) do %>
      <i class="fas fa-sign-out-alt"></i>
      <span>Sign out</span>
    <% end %>
  </div>
</li>
