<% flash_messages.each do |type, message| %>
  <div class="alert alert-<%= flash_context_map(type) %> alert-dismissible fade show" role="alert">
    <span class="alert-inner--icon"><i class="fas fa-<%= flash_icons(type) %>"></i></span>
    <span class="alert-inner--text">
      <%= message %>
    </span>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
<% end %>
