<title><%= app_name %></title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="<%= app_name %> is a simple web video player">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<%= stylesheet_pack_tag 'app', media: 'all' %>
<%= javascript_pack_tag 'app' %>
