<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'layouts/application/sidenav' %>

    <div class="main-content">
      <%= render 'layouts/application/navbar' %>
      <%= render 'layouts/application/header' %>

      <main class="page container-fluid mt--6">
        <%= render 'layouts/flash' %>

        <%= yield %>
      </main>

      <div class="container-fluid">
        <%= render 'layouts/application/footer' %>
      </div>
    </div>
  </body>
</html>
