<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="bg-default auth">
    <div class="main-content">
      <%= render 'layouts/auth/header' %>

      <div class="container mt--6">
        <div class="row justify-content-center">
          <div class="col-md-7 col-lg-5">
            <%= yield%>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid p-0">
      <%= render 'layouts/auth/footer' %>
    </div>
  </body>
</html>
