<div class="card bg-secondary shadow border-0">
  <div class="card-header bg-transparent">
    <div class="row">
      <div class="col text-center">
        <a class="logo">
          <img src="https://placeholder.pics/svg/200x100" alt="Logo">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <h2 class="text-muted text-center my-0">Change your password</h2>
      </div>
    </div>
  </div>

  <div class="card-body px-lg-5 py-lg-5">
    <%= render 'layouts/flash' %>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-key"></i>
            </span>
          </div>
          <%= f.password_field :password, class: ['form-control'], placeholder: 'Password',
            required: true, autocomplete: 'new-password' %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-key"></i>
            </span>
          </div>
          <%= f.password_field :password_confirmation, class: ['form-control'], placeholder: 'Password confirmation',
            required: true, autocomplete: 'off' %>
        </div>
      </div>

      <div class="text-center mt-4">
        <%= f.submit 'Change your password', class: ['btn', 'btn-primary'] %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'devise/shared/links' %>
